@import url("./variables.css");

.c-color {
  background-color: var(--second-color);
}

.c-menu {
  max-width: 1228px;
  margin: 0 auto;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr repeat(2, max-content);
}

.c-header__logo {
  place-self: center left;
}

.c-menu__first {
  place-self: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 48px;
  padding-right: 62px;
  font-size: var(--font-lg);
  font-weight: 500;
}

.c-menu__first a {
  color: var(--primary-color);
}

.c-menu__second {
  place-self: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 36px;
}

.c-main__first {
  max-width: 1228px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr max-content 1fr;
}

.c-main__fText {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr repeat(2, auto);
  padding-right: 68px;
  gap: 40px;
  row-gap: 16px;
}

.c-main__fTitle {
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  font-size: var(--font-2xl);
  font-weight: 600;
}

.c-main__fContent {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  font-size: var(--font-lg);
  font-weight: 500;
  padding-bottom: 16px;
  color: var(--third-color);
}

.c-main__fButton {
  background-color: var(--primary-color);
  color: #FFF;
  font-size: var(--font-lg);
  font-weight: 500;
  padding: 12px 32px;
  border: none;
}

.c-main__fLink {
  color: var(--primary-color);
  font-size: var(--font-lg);
  font-weight: 500;
  align-self: center;
  text-decoration: underline;
}

.c-main__fImage {
  width: 100%;
  grid-row: 1 / -1;
  grid-column: 2;
}

.c-main__second {
  max-width: 1228px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr auto 1fr;
}

.c-main__sImage {
  grid-row: 1 / -1;
  margin: 8.125rem 0;
  background-color: var(--primary-color);
  width: max-content;
}

#i-main__sImage {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
}

.c-main__sBanner {
  grid-row: 2;
  background-color: var(--primary-color);
  color: #FFF;
  padding: 20px 33px 30px 31px;
  display: grid;
  gap: 20px;
}

.c-main__sTitle {
  font-size: var(--font-xl);
  font-weight: 600;
}

.c-main__sContent {
  font-size: var(--font-base);
  font-weight: 500;
}

.c-main__sLink {
  grid-row: 3;
  margin-top: 24px;
}

#i-main__sLink {
  color: var(--primary-color);
  text-decoration: underline;
  font-size: var(--font-lg);
  font-weight: 500;
}

.c-main__third {
  max-width: 1228px;
  margin: 0 auto;
  padding-top: 3.4rem;
  padding-bottom: 3rem;
}

.c-main__tTitle {
  text-align: center;
  font-size: var(--font-xl-5);
  font-weight: 600;
  padding-bottom: 1.2rem;
}

.c-main__tContent {
  text-align: center;
  width: 63%;
  margin: 0 auto;
  padding-bottom: 2rem;
  font-size: var(--font-lg);
  font-weight: 500;
  color: var(--third-color);
}

.c-main__tImages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(396px, auto));
  gap: 20px;
}

.c-main__fourth {
  max-width: 1228px;
  margin: 0 auto;
  padding: 4.9rem 0;
}

.c-main__foTitle {
  text-align: center;
  font-size: var(--font-xl-5);
  font-weight: 600;
  padding-bottom: 17px;
}

.c-main__foContent {
  text-align: center;
  color: var(--third-color);
  font-size: var(--font-lg);
  font-weight: 500;
  padding-bottom: 36px;
}

.c-main__foButton {
  display: block;
  margin: 0 auto;
  font-size: var(--font-lg);
  font-weight: 500;
  padding: 12px 32px;
  background-color: #FFF;
  border: 1px solid var(--primary-color);
}

.c-footer {
  max-width: 1228px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4.3rem;
  padding: 5.6rem 0;
}

#i-footer__title{
  font-weight: 600;
  font-size: var(--font-lg);
  padding-bottom: 5px;
}

.c-footer__item {
  font-size: var(--font-lg);
  font-weight: 400;
  display: grid;
  gap: 16px;
  padding-right: 7.4rem;
}